html {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  background-color: #849d8f;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

/* START HEADER */

/* ресет для списков */

.site-navigation,
.site-navigation li,
.user-navigation,
.user-navigation li,
.catalog-list,
.catalog-list li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-header {
  width: 1146px;
  margin-left: 27px;
  margin-right: 27px;
  margin-bottom: 15px;
}

.main-header-logo {
  margin-top: 9px;
}

.main-navigation {
  display: flex;
  margin-left: 0;
  padding: 0;
}

/* основная навигация по сайту */

.site-navigation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  padding-right: 29px;
}

.site-navigation>li>a {
  position: relative;
  display: inline-block;
  font-size: 16px;
  height: 32px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  padding-left: 13px;
  padding-right: 13px;
  padding: 7px 13px;
  text-align: center;
  border-radius: 16px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #333333;
  background-color: #f7f6f3;
}

.site-navigation>li {
  margin-left: 12px;
}

.site-navigation li {
  margin-right: -10px;
}

.site-navigation>li>a::before {
  display: block;
  position: absolute;
  content: "";
  bottom: 7px;
  left: 14px;
  right: 14px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}

.site-navigation .site-navigation-active::before,
.site-navigation>li>a:hover::before,
.site-navigation>li>a:focus::before,
.site-navigation>li>a:active::before {
  display: none;
}

/* выпадающее меню каталога */

.catalog-list {
  position: absolute;
  top: 60px;
  left: 5px;
  min-height: 170px;
  border-radius: 5px;
  text-align: left;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease .15s;
}

.site-navigation>li:hover .catalog-list {
  opacity: 1;
  visibility: visible;
}

.catalog-list li {
  margin: 0;
  margin-bottom: 2px;
}

.catalog-list a {
  display: block;
  padding: 7px 20px;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  font-weight: 400;
  color: #323232;
}

.catalog-list a:hover,
.catalog-list a:focus {
  background-color: #fbded7;
}

.catalog-list a:active {
  background-color: #f6b5a5;
}

.catalog-list a.catalog-list-active,
.catalog-list a.catalog-list-active:hover .catalog-list a.catalog-list-active:focus,
.catalog-list a.catalog-list-active:active {
  color: #ffffff;
  background-color: #d07058;
}

.catalog-list li.catalog-list-novelty {
  position: relative;
  margin: 5px 0;
}

.catalog-list li.catalog-list-novelty a {
  font-weight: 700;
}

.catalog-list li.catalog-list-novelty::before {
  position: absolute;
  content: "";
  height: 1px;
  bottom: -3px;
  left: 6px;
  right: 8px;
  background-color: #d1d0ce;
}

/* кнопки входа, поиска и корзины */

.user-navigation {
  position: relative;
  display: flex;
  width: 267px;
  margin-left: 26px;
  align-items: center;
}

/* иконки у входа. поиска и корзины*/

.user-navigation button {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: inherit;
  text-align: center;
  padding: 0;
}

.user-navigation button:hover,
.user-navigation button:focus {
  color: #333333;
  background-color: #f8f7f4;
}

.search button {
  width: 32px;
  height: 32px;
  font-size: 0;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../img/svg/loupe.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  margin-right: 11px;
  margin-left: 6px;
  border-radius: 50%;
  cursor: pointer;
}

.search button:hover,
.search button:focus {
  background-image: url("../img/svg/loupe-active.svg");
}

.search button:hover .user-search,
.search button:focus .user-search {
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease .15s;
}

.login .bnt-login {
  position: relative;
  padding-left: 43px;
  padding-right: 17px;
  margin-right: 10px;
  border-radius: 16px;
  height: 32px;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.login .bnt-login::before {
  position: absolute;
  content: "";
  top: 6px;
  left: 15px;
  width: 20px;
  height: 19px;
  background-image: url("../img/svg/entrance.svg");
  background-repeat: no-repeat;
}

.login .bnt-login:hover::before,
.login .bnt-login:focus::before {
  background-image: url("../img/svg/entrance-active.svg");
}

.login:hover .user-form {
  opacity: 1;
  visibility: visible;
}

/*корзина товаров*/

.user-navigation button.basket-empty {
  background-color: rgba(255, 255, 255, 0.2);
}

.user-navigation button.basket-empty,
.user-navigation button.basket-add {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  height: 32px;
  width: 117px;
  border-radius: 16px;
  text-align: center;
  padding-left: 31px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}

.user-navigation button.basket-add {
  padding-left: 25px;
}

.user-navigation button.basket-empty {
  padding-left: 10px;
  pointer-events: none;
}

.user-navigation button.basket-empty::before {
  position: absolute;
  content: "";
  top: 6px;
  left: 16px;
  width: 21px;
  height: 20px;
  background-image: url("../img/svg/basket.svg");
  background-repeat: no-repeat;
}

.market-basket-container {
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease .15s;
}

.basket-inner:hover .market-basket-container {
  opacity: 1;
  visibility: visible;
}

.basket-empty:hover::before,
.basket-empty:focus::before {
  background-image: url("../img/svg/basket-hover.svg");
  background-repeat: no-repeat;
}

.basket-add::before {
  position: absolute;
  content: "";
  top: 6px;
  left: 16px;
  width: 21px;
  height: 20px;
  background-image: url("../img/svg/basket-red.svg");
  background-repeat: no-repeat;
}

.user-navigation .basket-add {
  background-color: #f7f6f3;
  color: #323232;
}

/* часы работы и телефон*/

.working-hours {
  width: 267px;
  font-weight: 700;
  margin-left: auto;
  margin-top: -5px;
  margin-bottom: 15px;
  text-align: right;
}

.working-hours p:first-child {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  padding: 0;
}

.working-hours p:last-child {
  font-size: 22px;
  line-height: 24px;
  margin-top: 4px;
  padding: 0;
  margin-right: -1px;
}

/*внутренняя страница хедера*/

.site-navigation-active,
.catalog-list-active {
  background-color: #d07058;
}

/* START BREADCRUMBS */

/* списочный ресет */

.breadcrumbs,
.breadcrumbs li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  margin-top: -45px;
  width: 267px;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(253, 254, 254, 0.4);
}

.breadcrumbs a:hover:not(.creamy),
.breadcrumbs a:focus:not(.creamy) {
  color: #ffbc9e;
}

.breadcrumbs a:active:not(.creamy) {
  color: #e84d37;
}

.breadcrumbs a:last-child {
  border-bottom: none;
}

.breadcrumbs li {
  margin-right: 8px;
}

/* END BREADCRUMBS */

/* START FILTER */

.filter-form {
  display: flex;
  width: 1146px;
  flex-wrap: wrap;
  margin-bottom: 34px;
}

/*фильтр сортировки*/

.filter h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin-top: 3px;
  margin-bottom: 27px;
}

.filter legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.filter fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.filter label {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.filter-sort legend {
  margin-left: 16px;
  margin-bottom: 5px;
}

.filter-sort .sort {
  width: 193px;
  height: 36px;
  vertical-align: middle;
  padding-top: 6px;
  padding-bottom: 5px;
  padding-left: 10px;
  margin-bottom: 15px;
  margin-right: 15px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  background: #aabcb2;
  border: none;
  border-radius: 25px;
  box-sizing: border-box;
  cursor: pointer;
}

.filter-sort .sort:hover,
.filter-sort .sort:focus {
  color: #000000;
}

.filter-sort {
  width: 195px;
}

.sort option {
  color: black;
}

/* фильтр стоимости*/

.filter-price {
  width: 235px;
}

.filter-price legend {
  margin-left: 32px;
  margin-bottom: 5px;
}

select[name="sort"] {
  color: #ffffff;
  background-color: #a8b9b0;
}

.btn-filter {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 400;
  background-color: #a8b9b0;
}

.btn-filter:hover,
.btn-filter:focus {
  color: #000000;
  background-color: #fbfcfb;
}

.btn-filter:active {
  color: #000000;
  background-color: #eaeaea;
}

.filter-flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 415px;
  height: 36px;
  padding: 0;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 3px;
  margin-left: 12px;
  margin-top: -4px;
  font-weight: 400;
  background: rgba(248, 247, 244, 0.2);
  border-radius: 25px;
  box-sizing: border-box;
}

/* фильтр жирности */

.fatness-filter label {
  position: relative;
}

.fatness-filter legend {
  margin-bottom: 8px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 28px;
}

.fatness-filter p {
  padding-left: 29px;
  margin-right: 15px;
}

.filter-flex-container p {
  padding-left: 35px;
}

.fatness-filter label::before {
  position: absolute;
  content: "";
  top: -5px;
  left: -36px;
  width: 15px;
  height: 15px;
  border: 4px solid #ffffff;
  border-radius: 50%;
  border-color: #eef2f0;
  cursor: pointer;
}

.fatness-filter label:hover::before,
.fatness-filter label:focus::before {
  border-color: #ffffff;
}

.filter input[type="radio"]:checked+label::after {
  position: absolute;
  content: "";
  top: 2px;
  left: -29px;
  width: 9px;
  height: 9px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.filter input[type="radio"]:hover+label::after,
input[type="radio"]:focus+label::after {
  border-color: #ffffff;
}

.filter input[type="radio"]:disabled+label::after {
  background-color: rgba(255, 255, 255, 0.4);
}

/* фильтр наполнителей*/

.top {
  width: 702px;
  margin-top: 7px;
  margin-left: 0;
  padding: 0;
  padding-right: 17px;
}

.filter input[type="checkbox"],
.filter input[type="radio"] {
  display: none;
}

.top p {
  padding-left: 35px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  padding-left: 30px;
}

.toppings-filter label {
  position: relative;
  padding-left: 10px;
  text-transform: lowercase;
}

.toppings-filter legend {
  padding-left: 16px;
  padding-top: 2px;
}

.toppings-filter label::before {
  position: absolute;
  content: "";
  top: -2px;
  left: -23px;
  width: 23px;
  height: 23px;
  background-image: url("../img/svg/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.8;
  cursor: pointer;
}

.filter input[type="checkbox"]:checked+label::after {
  position: absolute;
  content: "";
  top: -2px;
  left: -23px;
  width: 24px;
  height: 24px;
  background-image: url("../img/svg/checkbox-on.svg");
  background-repeat: no-repeat;
  opacity: 0.8;
}

.filter input[type="checkbox"]:hover+label::after,
.filter input[type="checkbox"]:focus+label::after,
.filter input[type="checkbox"]:hover+label::before,
.filter input[type="checkbox"]:focus+label::before {
  border-color: #ffffff;
}

.filter input[type="checkbox"]:disabled+label::after {
  border-color: rgba(255, 255, 255, 0.4);
}

/* END FILTER */

/* END HEADER */

.catalog {
  padding: 0;
  margin: 0;
}

.filter-form .btn-filter {
  width: 142px;
  height: 34px;
  border-radius: 25px;
  margin-right: auto;
  margin-left: 15px;
  margin-top: 24px;
  border: 2px solid #fcfcfc;
  cursor: pointer;
}

/* START SLIDER */

.site-wrapper {
  width: 100%;
  background-color: #849d8f;
  background-image: url("../img/png/slide-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.sliders {
  position: relative;
  text-align: center;
  padding-top: 230px;
  margin-bottom: 41px;
}

.slider {
  margin: 0;
  padding: 0;
}

.slider-item {
  display: none;
}

.slider h3 {
  width: 670px;
  margin: 0 auto;
  margin-bottom: 27px;
  margin-top: 24px;
  font-size: 60px;
  line-height: 60.35px;
  font-weight: 700;
}

#slide-button-1:checked~.site-wrapper #slide-1,
#slide-button-2:checked~.site-wrapper #slide-2,
#slide-button-3:checked~.site-wrapper #slide-3 {
  display: block;
}

#slide-button-1:checked~.site-wrapper label[for="slide-button-1"],
#slide-button-2:checked~.site-wrapper label[for="slide-button-2"],
#slide-button-3:checked~.site-wrapper label[for="slide-button-3"] {
  background-color: #ffffff;
}

/* кнопки переключения слайдера*/

.slider-controls label {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover,
.slider-controls label:focus {
  background-color: #b2c1b7;
}

.slider-controls {
  position: absolute;
  bottom: 19px;
  left: 0;
  font-size: 0;
  z-index: 7;
}

#slide-button-1:checked~.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/png/slide-1.png");
}

#slide-button-2:checked~.site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/png/slide-2.png");
}

#slide-button-3:checked~.site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/png/slide-3.png");
}

/* кнопка Дайте два */

.btn-slider {
  height: 65px;
  width: 278px;
  padding-right: 6px;
  padding-top: 3px;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  border-radius: 40px;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  cursor: pointer;
}

.btn-slider:hover,
.btn-slider:focus {
  background-image: linear-gradient(#f17d64, #f17d64);
}

.btn-slider:active {
  background-image: linear-gradient(to bottom, #e74a35, #f26843);
  box-shadow: inset 0 1px 2px #952718;
}

/* END SLIDER */

/* START FOR-FREE CADRS */

.for-free {
  display: flex;
  justify-content: space-between;
  margin-bottom: 39px;
}

h3.free {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin-top: 17px;
  margin-left: 19px;
  margin-bottom: -3px;
}

.for-free p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 44px;
  padding: 0;
}

.for-free-raspberry {
  width: 560px;
  height: 230px;
  background-color: #9d2235;
  background-image: url("../img/png/raspberry.png");
  background-repeat: no-repeat;
  border-radius: 16px;
  z-index: 1;
}

.for-free-chocolate {
  width: 560px;
  height: 230px;
  background-color: #5a341e;
  background-image: url("../img/png/chocolate.png");
  background-repeat: no-repeat;
  border-radius: 16px;
  z-index: 1;
}

.btn-free {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  padding-right: 7px;
  height: 46px;
  width: 165px;
  vertical-align: middle;
  border-radius: 30px;
  margin-right: 21px;
  margin-left: auto;
  color: #ffffff;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  cursor: pointer;
}

.for-free-chocolate .btn-free {
  padding-left: 8px;
  padding-bottom: 3px;
  width: 189px;
}

.btn-free:hover,
.btn-free:focus {
  background-image: linear-gradient(#f17d64, #f17d64);
}

.btn-free:active {
  background-image: linear-gradient(to bottom, #e74a35, #f26843);
  box-shadow: inset 0 1px 2px #952718;
}

/* END FOR-FREE CADRS */

/* START CATALOG */

.container {
  width: 1146px;
  margin-right: 27px;
  margin-left: 27px;
}

.catalog-container {
  display: flex;
  flex-wrap: wrap;
}

.catalog-item {
  position: relative;
  width: 267px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin-right: 26px;
  margin-top: -20px;
  text-align: center;
}

.catalog-item>a {
  display: block;
}

.catalog-item img {
  display: block;
  border-radius: 50%;
}

.catalog-item:nth-child(-n+4) {
  margin-top: 0;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item p:first-of-type {
  width: 255px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin: 13px auto;
}

.catalog-item a.ice-card {
  color: #ffffff;
  border-bottom: 1px solid #9db1a5;
}

.catalog-item a.ice-card:hover,
.catalog-item a.ice-card:focus {
  color: #ffbc9e;
  border-bottom: 1px solid #ffbc9e;
}

.catalog-item a.ice-card:active {
  color: #e84d37;
  border-bottom: 1px solid #e84d37;
}

/* карточка товара при наведении*/

.catalog-item::before {
  content: "";
  display: none;
  position: absolute;
  top: -6px;
  left: -13px;
  right: -13px;
  bottom: -22px;
  z-index: -1;
  background-color: #9bafa3;
  box-shadow: 0 20px 20px 0 rgba( 0, 0, 0, 0.4);
  border-radius: 5px;
}

.catalog-item:hover {
  z-index: 3;
}

.catalog-item:hover::before {
  display: block;
}

.catalog-footer {
  opacity: 0;
  width: 100%;
  text-align: center;
}

.catalog-item:hover .catalog-footer {
  opacity: 1;
}

.hit {
  position: absolute;
  display: block;
  width: 61px;
  height: 61px;
  top: 0;
  left: 0;
  font-size: 0;
  background-image: url("../img/svg/hit.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.price {
  position: absolute;
  left: 0px;
  top: 220px;
  font-size: 45px;
  font-weight: 700;
  margin: 0;
}

.price span {
  padding-left: 34px;
  font-size: 30px;
}

.price span::before {
  position: absolute;
  content: "";
  top: -5px;
  left: 82px;
  width: 31px;
  height: 33px;
  background-image: url("../img/svg/ruble.svg");
}

.btn-catalog-item {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  width: 200px;
  height: 45px;
  border-radius: 30px;
  padding: 0;
  color: #ffffff;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  cursor: pointer;
}

.btn-catalog-item:hover,
.btn-catalog-item:focus {
  background-image: linear-gradient(#f17d64, #f17d64);
}

.btn-catalog-item:active {
  background-image: linear-gradient(to bottom, #e74a35, #f26843);
  box-shadow: inset 0 1px 2px #952718;
}

/* внутренняя страница*/

.inner-container,
.catalog-ice-cream {
  width: 1146px;
  margin-left: 27px;
  margin-right: 27px;
}

/* START PAGINATION */

.pagination ul,
.pagination li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 23px;
  margin-bottom: 29px;
}

.pagination li {
  margin-right: 3px;
}

.pagination li.page-left {
  margin-right: 7px;
}

.pagination li.page-right {
  margin-right: -10px;
  margin-left: 5px;
}

.pagination li.disabled a {
  opacity: 0.4;
  pointer-events: none;
}

.pagination a {
  display: block;
  width: 26px;
  line-height: 26px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  border-radius: 50%;
}

.page-active a {
  color: #000000;
  pointer-events: none;
}

.pagination a:hover,
.pagination a:focus {
  color: #ffffff;
  background-color: #9db1a5;
}

.pagination a:active {
  color: #000000;
  background-color: #ffffff;
}

.pagination .page-active a {
  font-size: 16px;
  line-height: 26px;
  width: 26px;
  font-weight: 500;
  color: black;
  background: rgba(255, 255, 255, 1);
  border-radius: 50%;
  text-align: center;
}

/* END PAGINATION */

/* END CATALOG */

/* START GLLACY'S DESCRIPTION */

.about-us {
  margin-top: -45px;
  margin-bottom: 41px;
  min-height: 306px;
  background-color: #ede1c9;
  background-image: url("../img/jpg/about-us.jpg");
  background-repeat: repeat;
  border-radius: 15px;
}

.about-us-container {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
  padding: 0 20px;
}

.about-us-container p {
  position: relative;
  width: 540px;
  margin: 0;
  padding: 0;
  padding-left: 56px;
  margin-bottom: 22px;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  font-weight: 400;
}

.about-us-container p::before {
  display: block;
  position: absolute;
  content: "";
  width: 49px;
  height: 49px;
  left: 0;
  top: -13px;
}

.about-us-container p:first-child::before {
  background-image: url("../img/svg/ice-cream.svg");
}

.about-us-container p:nth-child(2)::before {
  background-image: url("../img/svg/cow.svg");
}

.about-us-container p:nth-child(3)::before {
  background-image: url("../img/svg/list.svg");
}

.about-us-container p:nth-child(4)::before {
  background-image: url("../img/svg/therm.svg");
}

.about-us h3 {
  width: 100%;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: 700;
  padding: 24px 20px;
  margin-bottom: 0;
}

/* END GLLACY'S DESCRIPTION */

/* START BLOG */

.container-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.blog {
  width: 560px;
  height: 220px;
  background-image: url("../img/jpg/blog-background.jpg");
  background-color: #ffffff;
  border-radius: 16px;
}

.blog h3 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
  padding-top: 7px;
  padding-left: 20px;
}

.blog a {
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  text-decoration: underline;
  padding-left: 20px;
  margin-top: -11px;
}

.blog a:hover,
.blog a:focus {
  color: #ffbc9e;
}

.blog a:active {
  color: #e84d37;
}

.blog p {
  width: 350px;
}

/* END BLOG */

/* START SUBSCRIBE */

.subscribe {
  position: relative;
  width: 560px;
  height: 220px;
  background-color: #f8f7f4;
  border-radius: 16px;
  background-image: repeating-linear-gradient(-45deg, #f8f7f4 0px, #f8f7f4 10px, #fe9e90 10px, #fe9e90 20px, #f8f7f4 20px, #f8f7f4 30px, #92cdff 30px, #92cdff 40px);
  z-index: 1;
}

.subscribe::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 549px;
  height: 210px;
  background-color: #f8f7f4;
  border-radius: 16px;
  z-index: -1;
}

.subscribe p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;
  padding-top: 18px;
  padding-left: 27px;
  padding-right: 20px;
  margin-bottom: 35px;
}

.subscribe button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  width: 129px;
  height: 44px;
  color: #ffffff;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border-radius: 30px;
  cursor: pointer;
}

.subscribe button:hover,
.subscribe button:focus {
  background-image: linear-gradient(#f17d64, #f17d64);
}

.subscribe button:active {
  background-image: linear-gradient(to bottom, #e74a35, #f26843);
  box-shadow: inset 0 1px 2px #952718;
}

.subscribe input[type="email"] {
  width: 369px;
  margin-right: 7px;
  font-size: 16px;
  padding: 0 15px;
}

.subscribe form {
  margin-left: 26px;
}

/* END SUBSCRIBE */

/* карта */

.contacts {
  position: relative;
  margin: 0 -27px;
}

.contacts::before {
  position: absolute;
  content: "";
  top: 140px;
  left: 266px;
  width: 80px;
  height: 140px;
  background-image: url("../img/svg/pin.svg");
}

.contacts img {
  display: block;
}

.address {
  position: absolute;
  top: 62px;
  right: 27px;
  width: 302px;
  padding: 28px 25px;
  min-height: 305px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  background-color: #fefefe;
}

.address p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.address-container {
  margin-bottom: 18px;
}

.phone-container h3,
.address-container h3 {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.address-container p {
  margin-top: 2px;
}

.phone-container p:nth-of-type(1) {
  margin-top: 5px;
}

.phone-container p:nth-of-type(2) {
  margin-top: 2px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.btn-feedback {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  margin-top: 26px;
  width: 252px;
  height: 44px;
  border-radius: 30px;
  color: #ffffff;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  cursor: pointer;
}

.btn-feedback:hover,
.btn-feedback:focus {
  background-image: linear-gradient(#f17d64, #f17d64);
}

.btn-feedback:active {
  background-image: linear-gradient(to bottom, #e74a35, #f26843);
  box-shadow: inset 0 1px 2px #952718;
}

/* START FOOTER */

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 28px;
  margin-left: 27px;
}

.main-footer.inner {
  border-top: 1px solid #a9bbb1;
}

.main-footer ul,
.main-footer li {
  list-style: none;
}

/* кнопки социальных сетей */

.footer-social {
  width: 190px;
  margin-top: 36px;
  margin-bottom: 29px;
  margin-right: 0;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
}

.footer-social ul,
.footer-social li {
  padding: 0;
  margin: 0;
}

.footer-social li {
  margin-right: 11px;
}

.footer-social li:last-child {
  margin-right: 0;
}

.social-button {
  display: inline-flex;
  align-items: center;
  width: 38px;
  height: 38px;
  font-size: 0;
  border: 3px solid rgba(255, 255, 255, 0.5);
  opacity: 0.8;
  box-sizing: border-box;
  border-radius: 50%;
}

.social-button img {
  max-width: 100%;
}

.footer-social .social-button:hover,
.footer-social .social-button:focus {
  opacity: 1;
}

.footer-social .social-button:active {
  opacity: 0.8;
}

/* информационный раздел */

.footer-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 400px;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-left: 48px;
  padding-left: 25px;
  background-image: url("../img/svg/heart.svg");
  background-repeat: no-repeat;
  background-position: 4px 6px;
}

.footer-info li {
  min-width: 110px;
  margin: 0;
  padding: 0;
  margin-right: 32px;
  list-style: none;
}

.footer-info a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: inherit;
}

.footer-info a.suppliers {
  font-weight: 700;
}

.footer-copyright {
  width: 190px;
  margin-top: 19px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.footer-copyright p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.footer-info a,
.footer-copyright p a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-info a:hover,
.footer-info a:focus,
.footer-copyright p a:hover,
.footer-copyright p a:focus {
  color: #ffbc9e;
  border-bottom: 1px solid #ffbc9e;
}

.footer-info a:active,
.footer-copyright p a:active {
  color: #e84d37;
  border-bottom: 1px solid #e84d37;
}

/* END FOOTER */

/* модальные окна */

/* выпадающее окно поиска */

.user-search,
.user-form,
.user-email {
  background-color: #f8f7f4;
}

.user-search {
  position: absolute;
  top: 60px;
  right: 230px;
  width: 341px;
  padding: 20px 15px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease .15s;
}

.feedback-form input,
.feedback-form textarea,
.subscribe input,
.user-form input,
.user-search input {
  width: 100%;
  padding: 10px 10px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  height: 44px;
  border: 0;
  box-shadow: inset 0 0 0 1px rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

.feedback input:hover,
.feedback-form textarea:hover,
.subscribe input:hover,
.user-form input:hover,
.user-search input:hover {
  box-shadow: inset 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.feedback-form input:focus,
.feedback-form textarea:focus,
.subscribe input:focus,
.user-form input:focus,
.user-search input:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px rgba(46, 136, 228, 0.52);
}

.feedback-form input::-webkit-input-placeholder,
.feedback-form textarea::-webkit-input-placeholder,
.subscribe input::-webkit-input-placeholder,
.user-form input::-webkit-input-placeholder,
.user-search input::-webkit-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.feedback-form input::-ms-input-placeholder,
.feedback-form textarea::-ms-input-placeholder,
.subscribe input::-ms-input-placeholder,
.user-form input::-ms-input-placeholder,
.user-search input::-ms-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.feedback-form input::placeholder,
.feedback-form textarea::placeholder,
.subscribe input::placeholder,
.user-form input::placeholder,
.user-search input::placeholder {
  font-weight: 400;
  color: #999999;
}

.search:hover .user-search,
.serch:focus .user-search {
  opacity: 1;
  visibility: visible;
}

/* START ФОРМА ОБРАТНОЙ СВЯЗИ */

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  display: none;
}

.feedback {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 477px;
  min-height: 442px;
  background-color: #f8f7f4;
  border-radius: 10px;
  z-index: 10;
  transform: translate3d(-50%, -50%, 0);
  display: none;
}

.feedback-form {
  padding: 0 24px;
}

.feedback-form input {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  width: 267px;
}

.feedback-form textarea {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  height: 155px;
}

.feedback-close {
  position: absolute;
  top: 15px;
  right: 18px;
  font-size: 0;
  width: 17px;
  height: 17px;
  padding: 0;
  background: none;
  background-image: url("../img/svg/cross-big.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.feedback>p {
  font-size: 24px;
  line-height: 28px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 24px;
  padding-top: 5px;
  color: #323232;
}

.btn-submit {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  height: 46px;
  width: 138px;
  border-radius: 30px;
  margin-right: 0;
  margin-left: auto;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.btn-submit:hover,
.btn-submit:focus {
  background-image: linear-gradient(#f17d64, #f17d64);
}

.btn-submit:active {
  background-image: linear-gradient(to bottom, #e74a35, #f26843);
  box-shadow: inset 0 1px 2px #952718;
}

/* END ФОРМА ОБРАТНОЙ СВЯЗИ */

/* выпадающее окно регистрации */

.user-form a {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
  text-decoration: underline;
}

.user-form a:hover,
.user-form a:focus {
  color: #ffbc9e;
}

.user-form a:active {
  color: #e84d37;
}

.user-form {
  position: absolute;
  top: 60px;
  right: 124px;
  width: 280px;
  padding: 20px;
  min-height: 214px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease .15s;
  z-index: 12;
}

.user-form p {
  margin: 0;
}

.user-form input {
  margin-bottom: 20px;
}

.user-navigation button.btn-user-form {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  width: 100px;
  height: 44px;
  border-radius: 20px;
  margin-right: 20px;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.btn-user-form:hover,
.btn-user-form:focus {
  background-image: linear-gradient(#f17d64, #f17d64);
}

.btn-user-form:active {
  background-image: linear-gradient(to bottom, #e74a35, #f26843);
  box-shadow: inset 0 1px 2px #952718;
}

.user-form-modal {
  display: flex;
  justify-content: space-between;
}

/* выпадающее окно корзины */

.market-basket-container {
  position: absolute;
  top: 60px;
  right: 0;
  width: 541px;
  min-height: 203px;
  font-size: 13px;
  line-height: 18px;
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .6);
  padding-top: 20px;
  padding-left: 14px;
  padding-right: 19px;
  padding-bottom: 17px;
  z-index: 20;
}

.market-basket {
  width: 100%;
  border-collapse: collapse;
}

.market-basket td {
  padding: 10px 5px;
}

.market-basket-container .btn-order {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-left: auto;
  height: 46px;
  width: 170px;
  color: #ffffff;
  text-align: center;
  border-radius: 30px;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  cursor: pointer;
}

.market-basket-container .btn-order:hover,
.market-basket-container.btn-order:focus {
  color: #ffffff;
  background-image: linear-gradient(#f17d64, #f17d64);
}

.btn-order:active {
  color: #ffffff;
  background-image: linear-gradient(to bottom, #e74a35, #f26843);
  box-shadow: inset 0 1px 2px #952718;
}

button.btn-delete {
  font-size: 0;
  background-color: #f8f7f4;
  background-image: url("../img/svg/cross-small.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.total {
  text-align: right;
  font: 15px;
  line-height: 18px;
  border-top: 1px solid #cacac7;
}

.total-cost {
  font-weight: 700;
}

.cost {
  color: #9f9f9f;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*ФИЛЬТР*/

.price-label {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 4px;
}

.price-input {
  width: 25px;
  margin: 0;
  font-size: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-wrapper {
  width: 220px;
  margin-left: 15px;
}

.range-controls {
  position: relative;
  padding: 16px 20px;
}

.range-controls .scale {
  height: 4px;
  background: rgba(255, 255, 255, 0.5);
}

.range-controls .bar {
  width: 117px;
  margin-left: 13px;
  margin-right: 45px;
  height: 4px;
  background: #ffffff;
}

.toggle {
  position: absolute;
  top: 8px;
  width: 20px;
  height: 20px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.toggle-min {
  left: 33px;
}

.toggle-max {
  right: 65px;
}

.range-controls {
  position: relative;
  height: 36px;
  background-color: #aabcb2;
  border-radius: 25px;
}

/*фильтр сортировки*/

.sort-wrapper {
  width: 194px;
  position: relative;
  overflow: hidden;
}

.filter-sort {
  width: 193px;
  height: 36px;
  border-radius: 18px;
  background-color: transparent;
  border-style: none;
  padding-left: 15px;
  color: #ffffff;
  cursor: pointer;
}

.sort-wrapper:hover,
.sort-wrapper:focus {
  color: #323232;
}

.select-pointer {
  position: absolute;
  top: 13px;
  left: 170px;
  width: 0px;
  height: 0px;
  border-style: solid;
  background-color: transparent;
  border-width: 11px 5.5px 0 5.5px;
  border-color: #ffffff transparent transparent transparent;
  pointer-events: none;
}

.select-pointer:hover,
.select-pointer:focus {
  border-color: #000000 transparent transparent transparent;
}

.sort {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.sort option {
  color: #000000;
  background-color: #ffffff;
}