body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  background-color: #849d8f;
}

a {
  text-decoration: none;
}
button {
  border: none;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

/* START HEADER */

/* ресет для списков */
.site-navigation,
.site-navigation li,
.user-navigation,
.user-navigation li,
.catalog-list,
.catalog-list li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-header {
  width: 1146px;
  margin-left: 27px;
  margin-right: 27px;
  margin-bottom: 15px;
}

.main-header-logo {
  margin-top: 9px;
}

.main-navigation  {
  display: flex;
  margin-left: 0;
  padding: 0;
}

/* основная навигация по сайту */

.site-navigation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  padding-right: 29px;
}

.site-navigation a {
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 32px;
  font-weight: 500;
  color: #ffffff;
  height: 32px;
  padding-left: 13px;
  padding-right: 13px;
  text-align: center;
  border-radius: 16px;
  text-shadow: 0px 0px 0px #b2cabd;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #333333;
  background-color: #f7f6f3;
}

.site-navigation > li {
  margin-left: 12px;
}
.site-navigation li{
  margin-right: -10px;
}
.site-navigation a:not(.sub)::before {
  display: block;
  position: absolute;
  content: "";
  bottom: 7px;
  left: 10px;
  right: 3px;
  height: 1px;
  background-color: #b0c8ba;
}

.site-navigation a:not(.sub):hover::before,
.site-navigation a:not(.sub):focus::before,
.site-navigation a:not(.sub):active::before {
  display: none;
}

/* выпадающее меню каталога */

.catalog-list {
  position: absolute;
  top: 60px;
  left: 9px;
  width: 143px;
  padding: 0;
  min-height: 171px;
  text-align: left;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease .15s;
}

.site-navigation > li:hover .catalog-list {
  opacity: 1;
  visibility: visible;
}

.catalog-list li {
  background-color: #f8f7f4;
  border: none;
  min-height: 28px;
  vertical-align: middle;
  margin-top: 2px;
}

.catalog-list a {
  display: block;
  padding-left: 21px;
  font-size: 14px;
  line-height: 32px;
  text-align: left;
  font-weight: 400;
  color: #323232;
  border-radius: 0;
}
.catalog-list a:hover,
.catalog-list a:focus {
  background-color: #fbded7;
}

.catalog-list a:active {
  background-color: #f6b5a5;
}

a.catalog-list-novelty {
  font-weight: 700;
}

a.catalog-list-novelty:hover,
a.catalog-list-novelty:focus  {
  background-color: #f8f7f4;
}

a.catalog-list-novelty:active {
  background-color: #f8f7f4;
}

a.catalog-list-novelty::before {
  position: absolute;
  content: "";
  height: 1px;
  bottom: -7px;
  left: 7px;
  right: 10px;
  background-color: #d1d0ce;
}

/* кнопки входа, поиска и корзины */

.user-navigation {
  position: relative;
  display: flex;
  width: 267px;
  margin-left: 26px; /* отступ от сайт-навигации*/
  align-items: center;
}

/* иконки у входа. поиска и корзины*/

.user-navigation button {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  background-color: #9db1a5;
}

.user-navigation button:hover,
.user-navigation button:focus {
  color: #333333;
  background-color: #f8f7f4;
}

.search button {
width: 32px;
height: 32px;
font-size: 0;
background-image: url("../img/svg/loupe.svg");
background-repeat: no-repeat;
background-position: 50%;
margin-right: 11px;
margin-left: 6px;
border-radius: 50%;
cursor: pointer;
}

.search button:hover,
.search button:focus {
  background-image: url("../img/svg/loupe-active.svg");
}

.search button:hover .user-search,
.search button:focus .user-search {
 opacity: 0;
  visibility: hidden;
  transition: all .3s ease .15s;
}

.login .bnt-login {
  position: relative;
  padding-left: 43px;
  padding-right: 17px;
  margin-right: 10px;
  border-radius: 16px;
  height: 32px;
  vertical-align: middle;
  cursor: pointer;
}

.login .bnt-login::before {
  position: absolute;
  content: "";
  top: 6px;
  left: 15px;
  width: 20px;
  height: 19px;
  background-image: url("../img/svg/entrance.svg");
  background-repeat: no-repeat;
}

.login .bnt-login:hover::before,
.login .bnt-login:focus::before {
  background-image: url("../img/svg/entrance-active.svg");
}

.login:hover .user-form {
  opacity: 1;
    visibility: visible;
}

/*корзина товаров*/
.basket-empty,
.basket-add {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  height: 32px;
  width: 117px;
  border-radius: 16px;
  text-align: center;
  padding-left: 31px;
  cursor: pointer;
}
.basket-empty {
  padding-left: 16px;
}
.basket-empty::before {
  position: absolute;
  content: "";
  top: 6px;
  left: 16px;
  width: 21px;
  height: 20px;
  background-image: url("../img/svg/basket.svg");
  background-repeat: no-repeat;
}
.market-basket-container {
  opacity: 0;
   visibility: hidden;
   transition: all .3s ease .15s;
}

.basket-inner:hover .market-basket-container {
  opacity: 1;
  visibility: visible;
}

.basket-empty:hover::before,
.basket-empty:focus::before {
  background-image: url("../img/svg/basket-hover.svg");
  background-repeat: no-repeat;
}

.basket-add::before {
  position: absolute;
  content: "";
  top: 6px;
  left: 16px;
  width: 21px;
  height: 20px;
  background-image: url("../img/svg/basket-red.svg");
  background-repeat: no-repeat;
}

.user-navigation .basket-add  {
  background-color: #f7f6f3;
  color: #323232;
}
/* часы работы и телефон*/

.working-hours {
  width: 267px;
  font-weight: 700;
  margin-left: auto;
  margin-top: -5px;
  margin-bottom: 15px;
  text-align: right;
}

.working-hours p:first-child {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  padding: 0;
}

.working-hours p:last-child {
  font-size: 22px;
  line-height: 24px;
  margin-top: 4px;
  padding: 0;
  margin-right: -1px;
}

/*внутренняя страница хедера*/

.site-navigation-active,
.catalog-list-active {
  background-color: #d07058;
}

/* START BREADCRUMBS */

/* списочный ресет */
.breadcrumbs,
.breadcrumbs li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  margin-top: -45px;
  width: 267px;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(253, 254, 254, 0.4);
}
.breadcrumbs a:hover:not(.creamy),
.breadcrumbs a:focus:not(.creamy) {
  color: #ffbc9e;
}
.breadcrumbs a:active:not(.creamy) {
  color: #e84d37;
}
.breadcrumbs a:last-child {
  border-bottom: none;
}

.breadcrumbs li {
  margin-right: 8px;
}
/* END BREADCRUMBS */

/* START FILTER */

.filter-form {
  display: flex;
  width: 1146px;
  flex-wrap: wrap;
  margin-bottom: 34px;
}

/*фильтр сортировки*/

.filter h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin-top: 3px;
  margin-bottom: 27px;
}
.filter legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}
.filter fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
.filter label {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.filter-sort legend {
margin-left: 16px;
margin-bottom: 5px;
}

.filter-sort .sort {
  width: 193px;
  height: 36px;
  vertical-align: middle;
  padding-top: 6px;
  padding-bottom: 5px;
  padding-left: 10px;
  margin-bottom: 15px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  background: rgba(248, 247, 244, 0.2);
  border: none;
  border-radius: 25px;
  box-sizing: border-box;
  cursor: pointer;
}

.filter-sort .sort:hover,
.filter-sort .sort:focus {
  color: #000000;
}

.filter-sort {
  width: 195px;
}
.sort option  {
  color: black;
}

/* фильтр стоимости*/

.filter-price {
  width: 235px;
}

.filter-price legend {
  margin-left: 28px;
  margin-bottom: 5px;
}

.range-controls {
  position: relative;
  height: 20px;
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 25px;
  padding-top: 16px;
  padding-left: 21px;
  padding-right: 21px;
  cursor: pointer;
  margin-left: 10px;
}

.range-controls .toggle {
  position: absolute;
  top: 7px;
  width: 5px;
  height: 5px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 37px;
}

.range-controls .toggle-max {
  left: 136px;
}

.range-controls .scale {
  height: 4px;
  background-color: #d1dad3;
}

.range-controls .bar {
  width: 70%;
  height: 4px;
  background: #f8f7f4;
}


select[name="sort"] {
  color: #ffffff;
  background-color: #a8b9b0;
}
.btn-filter {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 400;
  background-color: #a8b9b0;
}
.btn-filter:hover,
.btn-filter:focus {
  color: #000000;
  background-color: #fbfcfb;
}
.btn-filter:active {
  color: #000000;
  background-color: #eaeaea;
}

.filter-flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 415px;
  height: 36px;
  padding: 0;
  padding-left: 12px;
  padding-right: 10px;
  padding-top: 3px;
  margin-left: 12px;
  margin-top: -4px;
  font-weight: 400;
  background: rgba(248, 247, 244, 0.2);
  border-radius: 25px;
  box-sizing: border-box;
}

/* фильтр жирности */
.fatness-filter label {
  position: relative;
}
.fatness-filter legend {
  margin-bottom: 8px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 28px;
}

.fatness-filter p {
  padding-left: 29px;
  margin-right: 15px;
}

.filter-flex-container p {
  padding-left: 35px;
}

.fatness-filter label::before {
  position: absolute;
  content: "";
  top: -5px;
  left: -36px;
  width: 15px;
  height: 15px;
  border: 4px solid #ffffff;
  border-radius: 50%;
  border-color: #eef2f0;
  cursor: pointer;
}
.fatness-filter label:hover::before,
.fatness-filter label:focus::before{
  border-color: #ffffff;
}
.filter input[type="radio"]:checked+label::after {
  position: absolute;
  content: "";
  top:2px;
  left: -29px;

  width: 9px;
  height: 9px;

  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.filter input[type="radio"]:hover + label::after,
 input[type="radio"]:focus + label::after {
  border-color: #ffffff;
}

.filter input[type="radio"]:disabled + label::after{
  background-color: rgba(255, 255, 255, 0.4);
}

/* фильтр наполнителей*/


.top {
  width: 702px;
  margin-top: 7px;
  margin-left: 0;
  padding: 0;
  padding-right: 17px;
}

.filter input[type="checkbox"],
.filter input[type="radio"] {
  display: none;
}

.top p {
  padding-left: 35px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  padding-left: 30px;
}

.toppings-filter label {
  position: relative;
  padding-left: 10px;
  text-transform:  lowercase;
}

.toppings-filter legend {
  padding-left: 16px;
  padding-top: 2px;
}

.toppings-filter label::before {
  position: absolute;
  content: "";
  top:-2px;
  left: -23px;
  width: 23px;
  height: 23px;
  background-image: url("../img/svg/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.8;
  cursor: pointer;
}

.filter input[type="checkbox"]:checked+label::after {
  position: absolute;
  content: "";
  top: -2px;
  left: -23px;
  width: 24px;
  height: 24px;
  background-image: url("../img/svg/checkbox-on.svg");
  background-repeat: no-repeat;
  opacity: 0.8;
}

.filter input[type="checkbox"]:hover+label::after,
.filter input[type="checkbox"]:focus+label::after,
.filter input[type="checkbox"]:hover+label::before,
.filter input[type="checkbox"]:focus+label::before {
  border-color: #ffffff;
}

.filter input[type="checkbox"]:disabled+label::after {
  border-color: rgba(255, 255, 255, 0.4);
}
*/

/* END FILTER */

/* END HEADER */

.catalog {
  padding: 0;
  margin: 0;
}

.filter-form .btn-filter {
  width: 142px;
  height: 34px;
  border-radius: 25px;
  margin-right: auto;
  margin-left: 15px;
  margin-top: 24px;
  border: 2px solid #fcfcfc;
  cursor: pointer;
}
/* START SLIDER */

.site-wrapper {
  width: 100%
  background-color: #849d8f;
  background-image: url("../img/png/slide-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.sliders {
  position: relative;
  text-align: center;
  padding-top: 230px;
  margin-bottom: 41px;
}

.slider {
  margin: 0;
  padding: 0;
}

.slider-item {
  display: none;
}

.slider h3 {
  width: 670px;
  margin: 0 auto;
  margin-bottom: 27px;
  margin-top: 24px;
  font-size: 60px;
  line-height: 60.35px;
  font-weight: 700;
}

#slide-button-1:checked ~ .site-wrapper #slide-1,
#slide-button-2:checked ~ .site-wrapper #slide-2,
#slide-button-3:checked ~ .site-wrapper #slide-3 {
  display: block;
}

#slide-button-1:checked ~ .site-wrapper label[for="slide-button-1"],
#slide-button-2:checked ~ .site-wrapper label[for="slide-button-2"],
#slide-button-3:checked ~ .site-wrapper label[for="slide-button-3"] {
  background-color: #ffffff;
}
/* кнопки переключения слайдера*/

.slider-controls label {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 7px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover,
.slider-controls label:focus {
  background-color: #b2c1b7;
}

.slider-controls {
  position: absolute;
  bottom: 19px;
  left: 0;
  font-size: 0;
  z-index: 7;
}

#slide-button-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/png/slide-1.png");
}

#slide-button-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/png/slide-2.png");
}

#slide-button-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/png/slide-3.png");
}
/* кнопка Дайте два */

.btn-slider {
  height: 65px;
  width: 278px;
  padding-right: 6px;
  padding-top: 3px;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  border-radius: 40px;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  cursor: pointer;
}

.btn-slider:hover,
.btn-slider:focus {
  background-image: linear-gradient(#f17d64, #f17d64);
}

.btn-slider:active {
  background-image: linear-gradient(to bottom, #e74a35, #f26843);
  box-shadow: inset 0 1px 2px #952718;
}

/* END SLIDER */

/* START FOR-FREE CADRS */

.for-free {
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;
}

h3.free  {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin-top: 17px;
  margin-left: 19px;
  margin-bottom: -3px;
}

.for-free p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 44px;
  padding: 0;
}

.for-free-raspberry {
  width: 560px;
  height: 230px;
  background-color: #9d2235;
  background-image: url("../img/png/raspberry.png");
  background-repeat: no-repeat;
  border-radius: 16px;
  z-index: 1;
}

.for-free-chocolate {
  width: 560px;
  height: 230px;
  background-color: #5a341e;
  background-image: url("../img/png/chocolate.png");
  background-repeat: no-repeat;
  border-radius: 16px;
  z-index: 1;
}

.btn-free {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  padding-right: 7px;
  height: 46px;
  width: 165px;
  vertical-align: middle;
  border-radius: 30px;
  margin-right: 21px;
  margin-left: auto;
  color: #ffffff;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  cursor: pointer;
}
.for-free-chocolate .btn-free {
  padding-left: 8px;
  padding-bottom: 3px;
  width: 189px;
}
.btn-free:hover,
.btn-free:focus {
  background-image: linear-gradient(#f17d64, #f17d64);
}

.btn-free:active {
  background-image: linear-gradient(to bottom, #e74a35, #f26843);
  box-shadow: inset 0 1px 2px #952718;
}

/* END FOR-FREE CADRS */

/* START CATALOG */

.container {
  width: 1146;
  margin-right: 27px;
  margin-left: 27px;
}

.catalog-container {
  display: flex;
  flex-wrap: wrap;
  /*background-color: gray; /*временно*/
}

.catalog-item {
  position: relative;
  width: 267px;
  /*height: 410px; /* из-за нее выпадают кнопки на внутренней*/
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin-right: 26px;
  margin-bottom: 40px;
  text-align: center;
  margin-top: -80px;
}

.catalog-item img {
  padding-top: 7px;
  border-radius: 50%;
  margin-bottom: -3px;
}
.catalog-item:nth-child(-n+4) {
  margin-top: 0;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item p:first-of-type {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  width: 255px;
  padding-left: 6px;
  margin-top: 10px;
  margin-bottom: 17px;
}

/* карточка товара при наведении*/

.catalog-item:hover {
  z-index: 3;
  background-color: rgba(155, 175, 163, 0.5);
  border-radius: 5px;
  box-shadow: 0px 0px 0px 13px rgba(155, 175, 163, 0.5);
}
.catalog-footer {
  opacity: 0;
  width: 100%
  text-align: center;
}

.catalog-item:hover .catalog-footer {
  opacity: 1;
}

.hit {
  position: absolute;
  top: 5px;
  left: 0;
  padding-left: 60px;
  font-size: 0;
}

.hit::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-image: url("../img/svg/hit.svg");
  background-repeat: no-repeat;
}

.price {
  position: absolute;
  left: 0px;
  top: 180px;
  font-size: 45px;
  font-weight: 700;
}
.price span {
 padding-left: 34px;
 font-size: 30px;
}

.price span::before {
  position: absolute;
  content: "";
  top: -5px;
  left: 82px;
  width: 31px;
  height: 33px;
  background-image: url("../img/svg/ruble.svg");
}

.btn-catalog-item {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  width: 200px;
  height: 45px;
  border-radius: 30px;
  margin-bottom: 20px;
  padding: 0;
  color: #ffffff;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  cursor: pointer;
}

.btn-catalog-item:hover,
.btn-catalog-item:focus {
  background-image: linear-gradient(#f17d64, #f17d64);
}

.btn-catalog-item:active {
  background-image: linear-gradient(to bottom, #e74a35, #f26843);
  box-shadow: inset 0 1px 2px #952718;
}

/* внутренняя страница*/

.inner-container,
.catalog-ice-cream {
  width: 1146px;
  margin-left: 27px;
  margin-right: 27px;
  }

  /* нумерация на внутренней странице*/

  /* START PAGINATION */

  .pagination {
  display: flex;
  width: 190px;
  margin-left: auto;
  margin-bottom: 35px;
  margin-top: -58px;
  }

.pagination ul,
.pagination li {
  list-style: none;
  padding: 0;
  margin: 0;

}

.pagination li {
  margin-right: 10px;
}
.page-right img {
  fill: #ffffff;
}
  .pagination a {
  display: block;
  width: 26px;
  line-height: 26px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  border-radius: 50%;
  }
  .page-active a {
  color: #000000;
  }

  .pagination a:hover,
  .pagination a:focus {
  color: #ffffff;
  background-color: #9db1a5;
  }
  .pagination a:active {
  color: #000000;
  background-color: #ffffff;
  }

  .page-active {
  font-size: 16px;
  line-height: 26px;
  width: 26px;
  font-weight: 500;
  color: black;
  background: rgba(255, 255, 255, 1);
  border-radius: 50%;
  text-align: center;
  }

  .page-left {
    opacity: 0.4;
  }
  /* END PAGINATION */

/* END CATALOG */

/* START GLLACY'S DESCRIPTION */
.about-us {
  margin-top: -108px;
  margin-bottom: 39px;
  min-height: 306px;
  background-color: #ede1c9;
  background-image: url("../img/jpg/about-us.jpg");
  background-repeat: repeat;
  border-radius: 15px;
}

.about-us-container {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  margin-bottom: 23px;
}

.about-us-container p {
  margin-top: 0;
}

.about-us-container-1,
.about-us-container-2 {
  width: 540px;
  position: relative;
}
.about-us-container-1 {
  margin-right: 14px;
  margin-left: 19px;
  padding-left: 58px;
}

.about-us-container-2 {
  margin-right: 25px;
  padding-left: 58px;
  margin-left: 14px;
}

.about-us-container-1 p:first-child::before {
  position:  absolute;
  content: "";
  top: -13px;
  left: 0;
  width: 49px;
  height: 49px;
  background-image: url("../img/svg/ice-cream.svg");
}

.about-us-container-1 p:nth-child(2)::before {
  position:  absolute;
  content: "";
  top: 75px;
  left: 0;
  width: 49px;
  height: 49px;
  background-image: url("../img/svg/list.svg");
}

.about-us-container-2 p:first-child::before {
  position:  absolute;
  content: "";
  top: -13px;
  left: 0;
  width: 49px;
  height: 49px;
  background-image: url("../img/svg/cow.svg");
}

.about-us-container-2 p:nth-child(2)::before {
  position:  absolute;
  content: "";
  top: 75px;
  left: 1px;
  width: 49px;
  height: 49px;
  background-image: url("../img/svg/therm.svg");
}
.about-us h3 {
  width: 100%;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: 700;
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 112px;
  margin-bottom: 21px;
  letter-spacing: 0.08px;
}

.about-us p {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  font-weight: 400;
  margin-bottom: 22px;
}

/* END GLLACY'S DESCRIPTION */

/* START BLOG */

.container-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;
}

.blog {
  width: 560px;
  height: 220px;
  background-image: url("../img/jpg/blog-background.jpg");
  background-color: #ffffff;
  border-radius: 16px;
}

.blog h3 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
  padding-top: 7px;
  padding-left: 20px;
}
.blog a {
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color:#323232;
  text-decoration: underline;
  padding-left: 20px;
  margin-top: -11px;
}

.blog a:hover,
.blog a:focus {
  color: #ffbc9e;
}
.blog a:active {
  color: #e84d37;
}

/* END BLOG */

/* START SUBSCRIBE */

.subscribe {
  position: relative;
  width: 560px;
  height: 220px;
  margin-bottom: 30px;
  background-color: #f8f7f4;
  border-radius: 16px;
  background-image: repeating-linear-gradient(-45deg, #f8f7f4 0px, #f8f7f4 10px, #fe9e90 10px, #fe9e90 20px, #f8f7f4 20px, #f8f7f4 30px, #92cdff 30px, #92cdff 40px);
  z-index: 1;
}

.subscribe::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 549px;
  height: 210px;
  background-color: #f8f7f4;
  border-radius: 16px;
  z-index: -1;
}

.subscribe p {
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
  padding-top: 18px;
  padding-left: 27px;
  padding-right: 20px;
  margin-bottom: 35px;
}
.subscribe button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  width: 129px;
  height: 44px;
  color: #ffffff;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border-radius: 30px;
  cursor: pointer;
}

.subscribe button:hover,
.subscribe button:focus {
  background-image: linear-gradient(#f17d64, #f17d64);
}

.subscribe button:active {
  background-image: linear-gradient(to bottom, #e74a35, #f26843);
  box-shadow: inset 0 1px 2px #952718;
}

.subscribe input[type="email"] {
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  height: 41px;
  padding-left: 14px;
  width: 353px;
  margin-right: 6px;
}

.subscribe form {
    margin-left: 26px;
}

/* END SUBSCRIBE */

/* карта */

.contacts {
  position: relative;
  width: 100%;
}

.contacts::before {
  position: absolute;
  content: "";
  top:140px;
  left: 266px;
  width: 80px;
  height: 140px;
  background-image: url("../img/svg/pin.svg");
}

.address {
  position: absolute;
  top:62px;
  right: 27px;
  width: 302px;
  min-height: 305px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 22px;
  color: #323232;
  background-color: #fefefe;
}
.address-container {
  padding: 0;
  margin-top: 29px;
  margin-left: 25px;
}

.address-container p:first-child {
  margin-bottom: 18px;
}

.address-container p:nth-child(2) {
  margin-bottom: 23px;
}

.address span {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.btn-feedback {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  margin-left: 26px;
  margin-right: 26px;
  margin-bottom: 27px;
  width: 252px;
  height: 44px;
  border-radius: 30px;
  color: #ffffff;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  cursor: pointer;
}

.btn-feedback:hover,
.btn-feedback:focus {
  background-image: linear-gradient(#f17d64, #f17d64);
}

.btn-feedback:active {
  background-image: linear-gradient(to bottom, #e74a35, #f26843);
  box-shadow: inset 0 1px 2px #952718;
}

/* START FOOTER */

.main-footer {
  display: flex;
  justify-content: space-between;
  margin-right: 28px;
  margin-left: 27px;
  /*background-color: gray; /*временно*/
}
.main-footer ul,
.main-footer li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-footer a {
  color: #ffffff;
}

/* кнопки социальных сетей */

.footer-social {
  margin-top: 29px;
  margin-bottom: 29px;
  /*margin-right: 132px;*/
  margin-right: 0;
}
.footer-social ul {
  display: flex;
  width: 267px;
  flex-wrap: wrap;
}
.footer-social ul,
.footer-social li {
  padding: 0;
  margin: 0;
}
.footer-social li {
  margin-right: 11px;
}

  .social-button {
  display: block;
  width: 38px;
  height: 38px;
  font-size: 0;
  border: 3px solid rgba(255, 255, 255, 0.5);
  opacity: 0.8;
  box-sizing: border-box;
  border-radius: 50%;
}

.footer-social .social-button:hover,
.footer-social .social-button:focus {
opacity: 1;
}

.footer-social .social-button:active {
  opacity: 0.8;
}

/* информационный раздел */

.footer-info {
  margin-top: 29px;
}

.footer-info ul,
.footer-info li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-info {
  display: flex;
  flex-wrap: wrap;
  margin-left: 250px;
  width: 400px;
  margin-top: 25px;
  align-items: center;
  align-content: center;
  /*background-color: pink; /*временно*/
  }

.info {
  position: relative;
  margin-right: 32px;
  padding-left: 23px;
  margin-top: -5px;
}

.doc {
  margin-top: -5px;
}


.main-footer.inner {
  border-top: 1px solid #a9bbb1;
}

.info::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 1px;
  width: 15px;
  height: 15px;
  background-image: url("../img/svg/heart.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer-info a   {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.footer-copyright p {
  /*font-size: 13px;
  line-height: 18px;
  font-weight: 400;*/
  margin: 0;
}

.footer-copyright {
  /*width: 267px;
  padding-top: 19px;
  padding-left: 80px;
  /*background-color: green; /*временно*/
  float: right;
    margin-top: 13px;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
  }

.footer-copyright a{
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}
.footer-info a:hover,
.footer-info a:focus,
.footer-copyright a:hover,
.footer-copyright a:focus {
  color: #ffbc9e;
}
.footer-info a:active,
.footer-copyright a:active {
  color: #e84d37;
}

/* END FOOTER */

/* модальные окна */

/* START ФОРМА ОБРАТНОЙ СВЯЗИ */

.feedback {
  position: absolute;
  top: 338px;
  left: 450px;
  width: 477px;
  min-height: 442px;
  background-color: #f8f7f4;
  border-radius: 10px;
  z-index: 10;

  display: none; /* СКРЫТЬ ПОПАП */
}

.feedback input[type="text"],
.feedback input[type="email"],
.feedback textarea {
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  margin-left: 24px;
}

.feedback input[type="text"],
.feedback input[type="email"] {
  width: 251px;
  height: 42px;
  padding-left: 14px;
}

.feedback textarea {
  width: 428px;
  height: 155px;
  padding-left: 14px;
}

.feedback-close {
  position: absolute;
  top:30px;
  right: 28px;
  font-size: 0;
  width: 17px;
  height: 17px;
  padding: 0;
  background: none;
  background-image: url("../img/svg/cross-big.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.feedback > p {
  font-size: 24px;
  line-height: 28px;
  margin-left: 24px;
  margin-bottom: 20px;
  color: #323232;
}

.btn-submit {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  height: 46px;
  width: 138px;
  border-radius: 30px;
  margin-right: 25px;
  margin-left: auto;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.btn-submit:hover,
.btn-submit:focus {
  background-image: linear-gradient(#f17d64, #f17d64);
}

.btn-submit:active {
  background-image: linear-gradient(to bottom, #e74a35, #f26843);
  box-shadow: inset 0 1px 2px #952718;
}

/* END ФОРМА ОБРАТНОЙ СВЯЗИ */

/* выпадающее окно поиска */

.user-search,
.user-form,
.user-email {
  background-color: #f8f7f4;
}

.user-search {
  position: absolute;
  top: 60px;
  right: 230px;
  width: 341px;
  height: 84px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 24px;\
  color: #999999;
  margin: 0;

  /*display: none; /* СКРЫТЬ ПОПАП */
  opacity: 0; /* По умолчанию скрываем подменю */
    visibility: hidden;
   transition: all .3s ease .15s; /* Добавляем анимацию 0.3 сек. и задержку в 0.15 сек. */
}


.user-search input[type="text"] {
  border: 1px solid #d3d3d2;
  border-radius: 2px;
  width: 295px;
  height: 42px;
  padding-left: 14px;
  margin-left: 15px;
  margin-top: 20px;
}

.search:hover .user-search,
.serch:focus .user-search {
  /*display: block;*/
  opacity: 1; /* Показываем подменю при ховере */
  visibility: visible;

}
/* выпадающее окно регистрации */

.user-form a {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-decoration: underline;
}

.user-form {
  position: absolute;
  top: 60px;
  right: 130px;
  width: 277px;
  min-height: 214px;
  border-radius: 5px;

  /*display: none; /* СКРЫТЬ ПОПАП */
  opacity: 0; /* По умолчанию скрываем подменю */
  visibility: hidden;
  transition: all .3s ease .15s; /* Добавляем анимацию 0.3 сек. и задержку в 0.15 сек. */
}

.user-form input[type="email"],
.user-form  input[type="password"] {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  border: 1px solid #b4b4b4;
  border-radius: 5px;
  height: 42px;
  padding-left: 14px;
  width: 225px;
  margin-left: 19px;
  margin-right: 19px;
}

.btn-user-form {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  width: 100px;
  height: 44px;
  border-radius: 20px;
  margin-left: 20px;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.btn-user-form:hover,
.btn-user-form:focus {
  background-image: linear-gradient(#f17d64, #f17d64);
}

.btn-user-form:active {
  background-image: linear-gradient(to bottom, #e74a35, #f26843);
  box-shadow: inset 0 1px 2px #952718;
}

.user-form-modal {
  display: flex;
  justify-content: space-between;
  margin-right: 18px;
}

.user-form-modal p {
  padding: 0;
  margin: 0;
}
/* выпадающее окно корзины */
.market-basket-container {
  position: absolute;
  top:60px;
  right: 0;
  width: 509px;
  min-height: 203px;
  font-size: 13px;
  line-height: 18px;
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0,0,0,.6);
  /*margin-bottom: 20px;*/
  padding-top: 20px;
  padding-left: 14px;
  padding-right: 19px;
  padding-bottom: 17px;
}
.market-basket {
  /*margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;*/

  width: 100%;
  border-collapse: collapse;
}

.market-basket td {
  padding: 10px 5px;
}

.market-basket-container .btn-order {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  /*margin-right: 15px;*/
  margin-left: auto;
  height: 46px;
  width: 170px;
  color: #ffffff;
  text-align: center;
  border-radius: 30px;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  cursor: pointer;
}
.market-basket-container .btn-order:hover,
.market-basket-container.btn-order:focus {
  color: #ffffff;
 background-image: linear-gradient(#f17d64, #f17d64);
}

.btn-order:active {
  color: #ffffff;
  background-image: linear-gradient(to bottom, #e74a35, #f26843);
  box-shadow: inset 0 1px 2px #952718;
}
.market-basket td {
  /*margin-right: 30px;*/
}

.market-basket tr:last-child {
  /*margin-bottom: 20px;*/

}
button.btn-delete {
  /*margin-right: 16px;*/
  font-size: 0;
  background-color: #f8f7f4;
  background-image:url("../img/svg/cross-small.svg");
  background-repeat: no-repeat;
  background-position: center;
}

td img {
  /*margin-right: 16px;*/
}

.total {
  text-align: right;
  font: 15px;
  line-height: 18px;
  border-top: 1px solid #cacac7;
}

.total-cost {
  font-weight: 700;
}

.cost {
  color: #9f9f9f;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
